Options +FollowSymLinks 
RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-l

#Instalador
RewriteRule ^instalador$ instalador/index.php [NC,L]

#Home
RewriteRule ^home/([0-9]+)$ index.php?p=$1 [NC,L]
RewriteRule ^home$ index.php [NC,L]
#Registro
RewriteRule ^registro$ registro.php [NC,L]
#postPorUsuario
RewriteRule ^post/usuario/([0-9]+)$ verPostUsuario.php?id=$1 [NC,L]
#Post
RewriteRule ^post/([0-9]+)$ verPost.php?id=$1 [NC,L]
#Categoria
RewriteRule ^categoria/([0-9]+)$ verPostCategoria.php?idCategoria=$1 [NC,L]
#Administrador
RewriteRule ^administrador$ panelAdmin.php [NC,L]
#Error
RewriteRule ^error/(.+)/(.+)$ error.php?c=$2&error=$1 [NC,L]